.bgFirstSection {
  background-image: url("./assets/images/firstSection.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.linkBorder {
  border-bottom: 1px solid #faad48 !important;
}
